#a3{
    background-color: #EAEEE9;
}
footer {
    top:100%;
    position: absolute;
}
.dd{
    font-size: 30px;
    top: 80%;
    left:38%;
    position: absolute;
    font-weight: bolder;
}
ol{
    font-size: 25px;
    line-height: 2;
}
button{
    font-size: 40px;
    top:90%;
    left:48%;
    position: absolute;
    background-color: #0059FF;
    border-radius: 25px;
}
.d1{
    top:20%;
    left: 10%;
    right: 10%;
    position: absolute;
    padding: 40px;
    background-color: #87CEFA;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 3px dashed #000;
    text-align: justify;
}