#a4{
    background-color: #EAEEE9;
}
nav, body{
    background-image: url('Image/img19.jpg');
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed;
}
h1{
    font-size: 40px;
    left: 45%;
    top: 15%;
    position: absolute;
}
form{
    font-size: 25px;
    font-weight: bolder;
    left: 35%;
    top: 30%;
    position: absolute;
}
.bo{
    font-size: 25px;
    left: 50%;
    position: absolute;
}
.b{
    font-size: 20px;
}
#submit{
    font-size: 30px;
    top: 70%;
    left: 35%;
    position: absolute;
    color: white;
    background-color: #0059FF;
    padding-left: 230px;
    padding-right: 230px;
    border: none;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box1{
    top: 14%;
    left: 32%;
    position: absolute;
    width: 620px;    /* Width of the circle */
    height: 500px;   /* Height of the circle */
    background-color: white; /* Background color of the circle */
    opacity: 0.3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: -1;
}