#a3{
    background-color: #EAEEE9;
}
h1{
    top: 12%;
    left: 40%;
    position: absolute;
    font-size: 50px;
}
form{
    font-size: 25px;
    font-weight: bolder;
    left: 31%;
    top: 30%;
    position: absolute;
}
.bo{
    font-size: 25px;
    left: 105%;
    position: absolute;
}
#submit{
    font-size: 30px;
    top: 73%;
    left: 35%;
    position: absolute;
    color: white;
    background-color: #0059FF;
    padding-left: 220px;
    padding-right: 220px;
    border: none;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav, body{
    background-image: url('Image/img19.jpg');
}
.box1{
    top: 15%;
    left: 28%;
    position: absolute;
    width: 730px;    /* Width of the circle */
    height: 490px;   /* Height of the circle */
    background-color: white; /* Background color of the circle */
    opacity: 0.5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#showButton{
    top: 30%;
    left: 70%;
    position: absolute;
    font-size: 30px;
}
.hidden {
    display: none;
}