#a3{
    background-color: #EAEEE9;
}
footer {
    top:490%;
    position: absolute;
}
#im1{
    top: 10%;
    right: 0%;
    width: 800px;
    position: absolute;
}
h1{
    font-size: 150px;
    top: 5%;
    left: 5%;
    position: absolute;
}
.label{
    width: 1498px;
    height: 60px;
    background-color: #6698FF;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
#lab1{
    top: 80%;
    position: absolute;
}
.ppp{
    left: 45%;
    right: 10%;
    top: 110%;
    font-size: 25px;
    text-align: justify;
    position: absolute;
    padding: 10px;
    background-color: white;
}
#im2{
    top: 100%;
    left: 0%;
    width: 600px;
    position: absolute;
}
#lab2{
    top: 180%;
    position: absolute;
}
.di{
    top: 195%;
    position: absolute;
}
.u1{
    list-style: circle;
    margin-left: 15%;
    margin-right: 10%;
    text-align: justify;
}
ol{
    font-size: 20px;
    line-height: 2;
    margin-left: 5%;
}
#lab3{
    top: 350%;
    position: absolute;
}
#im3{
    top: 380%;
    left: 25%;
    width: 700px;
    position: absolute;
}
.px{
    font-size: 25px;
    position: absolute;
    font-weight: bolder;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#p1{
    left: 13.5%;
    top:385%;
    position: absolute;
    background-color: #5CB3FF;
}
#p3{
    left: 38%;
    top:370%;
    position: absolute;
    background-color: #82CAFF;
}
#p4{
    left: 70%;
    top:385%;
    position: absolute;
    background-color: #87CEEB;
}
#p5{
    left: 38%;
    top:435%;
    position: absolute;
    background-color: #A0CFEC;
}
#p6{
    left: 70%;
    top:400%;
    position: absolute;
    background-color: #ADDFFF;
}
#p7{
    left: 5%;
    top:400%;
    position: absolute;
    background-color: #BDEDFF;
}
#p8{
    left: 7.5%;
    top:415%;
    position: absolute;
    background-color: #00BFFF;
}
#p10{
    left: 70%;
    top:415%;
    position: absolute;
    background-color: #56A5EC;
}
.pp{
    font-size: 40px;
    text-align: justify;
    padding: 10px;
    color: white;
    background-color: #0059FF;
    border-radius: 35px;
    top: 460%;
    left: 35%;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.pp:hover {
    transform: scale(1.1); /* Increase the size on hover */
}
